.jobs-container {
  padding: 20px;
  background-color: black;
  background-size: cover;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  font-family: 'Roboto';
  color: white;
}

.filters {
  background-color: black;
  width: 26vw;
  padding-left: 20px;
  flex-shrink: 0;
  padding-top: 30px;
  margin-bottom: 20px;
}

.profile-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: 30vh;
}

.profile-image {
  height: 30px;
  width: 30px;
}
.name {
  font-size: 20px;
  color: #4f46e5;
}

.description {
  font-size: 12px;
  color: black;
}

.container {
  background-color: black;
  color: white;
}
.heading-1 {
  font-size: 20px;
}

.employee-list-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.employee-list-item {
  display: flex;
  list-style-type: none;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: flex-start;
  margin-top: 14px;
}

.label {
  font-size: 16px;
  color: white;
  text-align: left;
}
.jobs-list-container {
  padding: 20px;
}
.job-list-item {
  padding: 20px;
  margin-top: 20px;
  background-color: grey;
  border-radius: 12px;
  list-style-type: none;
}
.logo-role {
  display: flex;
  align-items: center;
}
.company-logo {
  height: 80px;
  width: 80px;
}
.role-card {
  margin-left: 20px;
}
.rating-star {
  display: flex;
  align-items: center;
}
.star-icon {
  color: gold;
}
.rating {
  margin-left: 20px;
}
.price-salary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-card {
  display: flex;
  align-items: center;
}
.location-job {
  display: flex;
  align-items: center;
}
.second {
  margin-left: 20px;
}
.location {
  margin-left: 20px;
}

.icon {
  color: white;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.search-button {
  background-color: grey;
  height: 40px;
  width: 40px;
  margin-top: 2px;
}
.link-item {
  color: white;
}
.search {
  height: 38px;
  width: 240px;
  background-color: transparent;
  color: grey;
  font-size: 16px;
}

.failure-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobs-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.no-jobs-heading {
  font-size: 34px;
}

.no-jobs-para {
  font-size: 16px;
}

.no-jobs-image {
  height: 40vh;
  width: 40vw;
}

.item-link {
  color: white;
  text-decoration: none;
}
